---
layout: single
title: How To Contribute
permalink: /test/
---

To contribute in any way to the RFC system, we ask you to please follow [our code of conduct](someday). 

If you have any questions hop into dsausa.chat and ask over at #tech-committee and we can help you out.  

To create a new RFC, please do the following: 
* [Sign into Gitlab](https://gitlab.com/users/sign_in). Gitlab is a website that
hosts the code for this website and allows us to use version control to keep
track of changes to that code. You can create an account on Gitlab for free
and you can also sign in with Google or Twitter. Additionally, you may use an
account with a fake name when creating the account. We do not require that
you identify yourself up front when submitting an RFC, but we may ask you to
identify yourself in private to a member of the tech committee later on.
* [Edit the template RFC](https://gitlab.com/dsausa/rfcs/edit/master/_rfcs/template.md).
Follow that link and then click on edit and then click on Fork. You don't have
to fill out the template with all the information quite yet, but putting a
sentence or two in the summary would be a good start. Then click commit
changes. Fill out the merge request with some more details and submit it.
* Once you've submitted the merge request, you'll be taken to the `dsausa/rfcs`
page corresponding to that merge request. It may take a minute, but `Zack!`
will eventually comment with a link to preview how the proposed RFC looks on
the website. As you work and change the RFC in your own fork, the website will
be updating to reflect those changes.
* Now that the paper work is out of the way, you can start filling out the RFC
for real. Go back to your fork and start editing `template.md` and filling out all
the sections in the template. Commit your changes to your branch and they will
automatically show up in the merge requests.
* As you get further along writing things up, folks may start engaging with your
post more and making suggestions about things!
* Once the proposal is finished, the Tech Chair will review it and then, if
everything makes sense, will approve and merge the RFC into the master branch.
The RFC will then be submitted to the right folks on national staff or the NPC
and the Tech Chair will provide the people acting as implementors the
resources they need to complete the project. 

<form name="contact" netlify>
    <p>
        <label>Your Name: <input type="text" name="name"></label>   
    </p>
    <p>
        <label>Your Email: <input type="email" name="email"></label>
    </p>
    <p>
        <label>Message: <textarea name="message"></textarea></label>
    </p>
    <p>
        <button type="submit">Send</button>
    </p>
</form>
